{% extends '@FindLover/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/findlover/css/profile-page.css') }}">
{% endblock %}
{% block body %}
    <main>
        <section id="lovers-data">
            <article id="profile-picture">
                <div id="picture">
                    <img src="{{ lover.profilePicture }}" alt="Profile picture">
                    <div id="name">{{ lover.firstName }} {{ lover.lastName }} ( {{ lover.nickname }} )</div>
                </div>
            </article>
            <article id="lovers-controls">
                <ul>
                    {% if app.user.id != lover.id %}
                        <li class="lover-control">Add lover</li>
                        <li class="lover-control">Message</li>
                    {% endif %}
                    <li class="lover-control">Photos & Videos</li>
                    <li class="lover-control">About</li>
                </ul>
            </article>
        </section>
        <section id="lovers-posts"></section>
    </main>
{% endblock %}